<h1>Welcome to Git Help!</h1>

<div>
  <%= link_to("Post a Chore", new_chore_url) %>
</div>

<div>
  <%= link_to("I'm a Northwestern student and I'd like to work", new_student_url) %>
</div>

<div>
 <%= link_to("I'm an area resdient and I'd like to hire Northwestern students", new_task_haver_url) %>
</div>
