<div class="page-header">
  <h1>Chore Type History #<%= @chore_type_history.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Student</dt>
  <dd><%= @chore_type_history.student_id %></dd>

  <dt>Type of chore</dt>
  <dd><%= @chore_type_history.type_of_chore_id %></dd>

</dl>
